<h2 style="padding: 0.5em; background-color: lightblue;">Database of TV Shows</h2>
<hr>

<ul class="list-group">
{{#each tvShows}}
    <li class="list-group-item"><a href={{this.tvid}}>{{this.name}}</a></li>
{{/each}}
</ul>
